# Dataset 
data/

# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# IDEs
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db